body { margin: 0; }
body>header { text-align: center; }
body>header>nav>ul {
    margin: 0;
    padding: 0;
    background-color: DimGray;
    list-style-type: none;
}
body>header>nav>ul>li:hover { background-color: MidnightBlue; }
body>header>nav>ul>li:active { background-color: Blue; }
body>header>nav>ul>li { display: inline-block; }
body>header>nav>ul>li>a {
    display: block;
    padding: 1em;
    color: black;
    text-decoration: none;
}
body>main { padding: 1em; }
body>div {
    display: inline-block;
    box-sizing: border-box;
    padding: 1em;
    width: 33.3%;
    vertical-align: top;
}

.dropbtn {
    background-color: #181634;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #181634;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
}



.dropdown-content input {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {display:block;}
